* {
    overflow: hidden;
    padding: 0;
    margin: 0;
    background: #000;

}

@font-face {
    font-family: 'Satisfy';
    src: url('../fonts/Satisfy-Regular.ttf');
}

/* html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#wrapper {
    display: flex;
    justify-content: space-between;
    background: #000;
    height: 100%;
}

#container {
    padding-top: 100px;
    margin: 0 auto;
}

#main-game {
    flex-basis: 100%;
} */
